<!DOCTYPE html>
<html lang="en">
<head>
                                        <meta charset="UTF-8">
                                        {% load static %}
                                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                                        <link rel="stylesheet" href="{% static 'css/clock.css' %}">
                                        <script src="https://kit.fontawesome.com/3ea7d5175c.js" crossorigin="anonymous"></script>
                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                        <title>Clock</title>
</head>
<body>
                  <div class="cont">
                                        <div class="box">
                                                                                <div class="box1">
                                                                                                                        <center><span id="hcount">00</span><span> : </span><span id="mcount">00</span><span> : </span><span id="scount">00</span><span id="ampm"> AM </span></center>
                                                                                </div>
                                                                                <div class="box2">
                                                                                                                        <center><span id="datecount">01</span><span> , </span><span id="monthcount">JANUARY</span><span> , </span><span id="yearcount">2024</span></center>
                                                                                </div>
                                        </div>
                  </div>
                  <script src="{% static 'js/clock.js' %}"></script>              
</body>
</html>